/* Google Fonts */
@import
  url('http://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  transition: all ease-in-out 250ms;

  color: #fff;
}

strong {
  color: inherit;
  font-weight: 900;
}


.line-after::after {
  content: '';
  display: block;
  max-width: 5rem;
  margin: .75rem auto;
  border-top: .25rem solid #fff;
  border-radius: 10%;
}

.unstyled-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}



/* typography
=================*/

p {
  line-height: 1.4;
  font-size: 16px;
}

header h1 {
  font-size: 2.5rem;
}

header h2 {
  font-size: 1.7rem;
}

header p {
  font-size: 1.4rem;
}

/* buttons
=================*/

.btn {
  background: white;
  color: #3A2F3F;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border: .05rem solid #352A38;
  border-radius: .5rem;
  font-size: .8rem;
  cursor: pointer;
  transition: all ease-in-out 60ms;
}

.btn:hover {
  background: #352A38;
  color: #fff;
}


/* HEADER
=================*/

header {
  position: relative;
  height: 90vh;
  overflow: hidden;
}

.header-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #352A38;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#312a32+0,3f395b+52,4e4c7e+68,6d7c9d+80,ad91a5+100,443565+100,ad91a5+101 */
background: #312a32; /* Old browsers */
background: -moz-linear-gradient(45deg, #312a32 0%, #3f395b 52%, #4e4c7e 68%, #6d7c9d 80%, #ad91a5 100%, #443565 100%, #ad91a5 101%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #312a32 0%,#3f395b 52%,#4e4c7e 68%,#6d7c9d 80%,#ad91a5 100%,#443565 100%,#ad91a5 101%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #312a32 0%,#3f395b 52%,#4e4c7e 68%,#6d7c9d 80%,#ad91a5 100%,#443565 100%,#ad91a5 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#312a32', endColorstr='#ad91a5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



  transform: skewY(-6deg);
  transform-origin: top left;

  z-index: -1;
}

.header-text {
  max-width: 60vh;
  margin: 10rem auto 0;
  text-align: center;
}

/* HEADER NAV
=================*/

.nav-menu {
  transition: width ease-in 0.5s;
  position: fixed;
  top: 0;
  left: 0;

  background: #3A2F3F;
  width: 0;
  height: 100vh;
  padding-top: 10vh;
  overflow-x: hidden;

  z-index: 100;
}

.nav-menu li {
  text-align: right;
  margin: 3rem auto 2rem;
  padding: 1em;
  text-transform: uppercase;
  cursor: pointer;
  border-bottom: 2px solid #fff;
  width: 15vw;
}

.nav-menu li:hover,
.nav-menu li:hover a {
  color: #9589A2;
  border-color: #9589A2;
}

.nav-toggle {
  position: fixed;
  top: 3rem;
  left: 6rem;
  max-width: 4rem;
  max-height: 2rem;

  width: 2rem;
  height: 2rem;

  cursor: pointer;

  z-index: 1000;
}

.nav-toggle span {
  position: absolute;
  display: block;
  background: white;
  width: 2rem;
  height: .2rem;
  transform-origin: 0 0;
}

.nav-toggle span:first-child {
  top: 0%;
  transform-origin: 0% 0%;
}

.nav-toggle span:nth-child(2) {
  top: 33.3334%;
}

.nav-toggle span:last-child {
  top: 66.6667%;
  transform-origin: 0% 100%;
}

.nav-toggle * {
  transform: 0;
}

.nav-toggle:hover span {
  background: #9589A2;
}


header .cta {
  position: fixed;
  top: 3rem;
  right: 6rem;
}

/* HEADER SOCIAL
=================*/

.header-social {
  margin: 0 auto;
  text-align: center;
  margin-top: 5vh;
  position: relative;
}

.header-social ul {
  max-width: 40vw;
  margin: 0 auto;
}

.header-social li {
  display: inline-block;
  padding: .2rem 1rem;
  margin: 0 auto;
  border-right: .1rem solid #fff;
  border-right: .1rem solid rgba(255, 255, 255, 0.4);
  border-radius: 3%;
  position: relative;
}

.header-social li:last-child {
  border-right: 0;
}

/*
.header-social-divider {
  margin: 0 auto;
  display: inline-block;
  height: 2rem;
  width: .1rem;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.4);
}
*/

.header-social li svg {
  max-width: 1.8rem;
}

.header-social li path {
  fill: #fff;
}

.header-social li:hover path {
  fill: #9589A2;
}

/* HEADER ARROWS
=================*/

.header-arrows {
  position: relative;
  max-width: 2rem;
  height: 2rem;
  margin: 3rem auto 0;
  text-align: center;
}

.header-arr {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

.header-arr svg {
  max-width: 1.2rem;
  max-height: 1.2rem;
}

.header-arr path {
  fill: #fff;
}

.header-arrows:hover .header-arr path {
  fill: #9589A2;
}

.header-arr:first-child {
  top: 0;
  opacity: 0.2;
}

.header-arr:nth-child(2) {
  top: 33.3334%;
  opacity: 0.5;
}

.header-arr:last-child {
  top: 66.6667%;
  opacity: 1;
}



/* MAIN
=================*/

/* PORTFOLIO
=================*/

.portfolio * {
  color: #3A2F3F;
}

.portfolio .line-after::after {
  color: #3A2F3F;
  border-color: #3A2F3F;
}

/* portfolio header
=================*/

.portfolio-header {
  margin-top: 1rem;
}

.portfolio-header h2 {
  text-align: center;
  text-transform: uppercase;
}
